DB_DIALECT=postgres
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=nocobase_car_rental_prod
DB_USER=CHANGE_ME_PRODUCTION_USER
DB_PASSWORD=CHANGE_ME_PRODUCTION_PASSWORD
DB_SCHEMA=public
CAR_RENTAL_DATABASE_SAFETY_LABEL=production_database
CAR_RENTAL_MOCK_DATA_ONLY=false
CAR_RENTAL_IMPORT_MOCK_DATA=false
CAR_RENTAL_COLLECTION_EXECUTE_ENABLED=false
CAR_RENTAL_PRODUCTION_INIT_ENABLED=false
IOPGPS_SYNC_ENABLED=false
CAR_RENTAL_PRIVACY_DATA_IMPORT_ENABLED=false
